---
import Layout from "../layouts/Layout.astro";
import { db, Inputs } from 'astro:db';

const inputs = await db.select().from(Inputs);
---

<Layout
	title="Usage And Cost Data | Descriptive Alt Text Generator | Western Washington University"
>
	<!-- main starts here according to the layout.astro file -->
	<div class="page-content">
		<div class="region-wrapper">
			<h1>Descriptive Alt Text Generator Usage And Cost Data</h1>
			<h2>Data Usage</h2>
			<input value="getUserInfo" type="button" id="getUserInfo" />
			<p>
				A data table here to present cost and usage information along a
				predictive timeline
			</p>
			<wwu-accordion>
			{
				inputs.map(({ id, user, image, createdAt, generatedAltText }) => (
					<wwu-accordion-item label={user} title={user}>
						<div class="wwu-card horizontal blue-bg">
							<h2>{user}</h2>
							<div class="image">
								<img src={image} alt={generatedAltText} />
							</div>
							<div class="taxonomy-terms">
								<p>Created At: {createdAt}</p>
							</div>
							<div class="body">
								<p>Generated Alt Text: {generatedAltText}</p>
							</div>
						</div>
					</wwu-accordion-item>
				))
			}
				</wwu-accordion>
			<button>Download CSV</button>
		</div>
	</div>

	<!-- main ends here according to the layout.astro file -->
</Layout>

<script src="../js/authHelper.js"></script>
